<p id="notice"><%= notice %></p>

<h1><%= "#{@group.name}" + t('groups.show.title') %></h1>

<h3><%= t('groups.show.join_members') %></h3>
<% if @group.join_group_members.present? %>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Role</th>
        <th colspan="1"></th>
      </tr>
    </thead>

    <tbody>
      <% @group.join_group_members.each do |group_member| %>
        <tr>
          <td><%= group_member.name %></td>
          <td><%= @organizer_id == group_member.id ? "organizer" : "member" %></td>

          <td>
            <%= link_to t('groups.show.leave_group'), join_group_path(group_id: @group.id, member_id: group_member.id), method: :delete, data: { confirm: t('groups.show.confirm_leave_group') } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to t('groups.show.set_organizer'), set_organizer_group_path(group_id: @group.id), method: :patch, data: { confirm: t('groups.show.confirm_set_organizer') } %>
<% else %>
  <p><%= t('groups.show.no_members') %></p>
<% end %>

<h3><%= t('groups.show.not_belong_members') %></h3>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @not_belong_members.each do |a| %>
      <tr>
        <td><%= a.name %></td>
        <td><%= link_to t('groups.show.join'), join_groups_path(group_id: @group.id, member_id: a.id), method: :post %></td>
      </tr>
      <% end %>
  </tbody>
</table>
